* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: aqua; */
}

.red_line {
    height: 5vh;
    width: 100%;
    background-color: #AD0D06;
}

.big_box {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.boxy_1, .boxy_2, .boxy_3, .boxy_4, .boxy_5, .boxy_6 {
    width: 40%;
    height: 50vh;
    background-color: #5D6573;
    margin-top: 5%;
    margin-left: 5%;
}

.text_lagman {
    font-size: 35px;
    color: white;
    text-align: center;
}

.img_lagman {
    display: block;
    width: 200px;
    margin: 0 auto;
}

.price_lagman {
    display: block;
    width: 200px;
    margin: 0 auto;
    background-color: #AD0D06;
    height: 10%;
    border: 0px;
    border-radius: 6px;
    color: white;
    font-weight: 900;

}
